body {
    background-color:black;
}

main {
    background-color:white;
    width: 500px;
    margin: unset;
    padding: 15px;
    box-shadow: 5px 5px 8px;
}

h1{
    font-size: 35px;
    font-family: 'Segoe UI';
    font-style: inherit;
    color: aqua;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}

h2{
    font-size: 22px;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 1px;
}
